/* @mixin bg-image */
@mixin bg-image($img-url) {
	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: $img-url;
}
#models {
	@include bg-image(url("../images/models.jpg"));
}
#model3 {
	@include bg-image(url("../images/model3.jpg"));
}
#modelx {
	@include bg-image(url("../images/modelx.jpg"));
}
#modely {
	@include bg-image(url("../images/modely.jpg"));
}
#roadster {
	@include bg-image(url("../images/roadster.jpg"));
}
/* Media queries for extra small devices */
/* Model S */
@mixin bg-models($width, $viewport) {
	@media only screen and (max-width: $width) {
		#models {
			height: $viewport;
		}
	}
}
@include bg-models(768px, 90vh);
@include bg-models(576px, 85vh);
@include bg-models(425px, 75vh);
/* Model 3 */
@mixin bg-model3($width, $viewport) {
	@media only screen and (max-width: $width) {
		#model3 {
			height: $viewport;
		}
	}
}
@include bg-model3(768px, 90vh);
@include bg-model3(576px, 85vh);
@include bg-model3(425px, 75vh);
/* Model X */
@mixin bg-modelx($width, $viewport) {
	@media only screen and (max-width: $width) {
		#modelx {
			height: $viewport;
		}
	}
}
@include bg-modelx(768px, 90vh);
@include bg-modelx(576px, 85vh);
@include bg-modelx(425px, 75vh);
/* Model Y */
@mixin bg-modely($width, $viewport) {
	@media only screen and (max-width: $width) {
		#modely {
			height: $viewport;
		}
	}
}
@include bg-modely(768px, 90vh);
@include bg-modely(576px, 85vh);
@include bg-modely(425px, 75vh);
/* Roadster */
@mixin bg-roadster($width, $viewport) {
	@media only screen and (max-width: $width) {
		#roadster {
			height: $viewport;
		}
	}
}
@include bg-roadster(768px, 90vh);
@include bg-roadster(576px, 85vh);
@include bg-roadster(425px, 75vh);
